*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( 65deg,  #f8f9fa, #e9ecef, #dee2e6, #f8f9fa, #ced4da, #adb5bd, #6c757d, #d9d9d9, #adb5bd 55%);
    background-repeat: no-repeat;
}
/*Estilos para las etiquetas de hipervinculo*/
a{
    text-decoration: none;
    color: white;
}
/*Estilos para los elementos de lista*/
li{
    list-style: none;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 21px;
    margin-top: 20px;
}
/* Estilo para el span del logo*/
span{
    font-weight: lighter;
    color: black;
    display: inline-block;
}
header{
    background: transparent;
    padding: 30px;
}
.flotante-izquierdo{
    float: left;
    margin-left: 50px;
    position: fixed;
}
#logo{
   font-size: 22px;
   z-index: 2;
}
h1 a{
    background-image: linear-gradient(#f9f295, #e0aa3e, #edc967, #b88a44);
    color: transparent; /* Hace que el texto sea transparente */
    -webkit-background-clip: text; /* Para navegadores basados en WebKit (como Chrome y Safari) */
    background-clip: text; /* Para navegadores que no utilizan el prefijo -webkit- */
}
.flotante-derecho{
    float: right;
}
nav ul{
    display: flex;
    margin-right: 0px;
}
nav ul li::after{
    content: " | ";
}
a:hover{
    background-image: linear-gradient(#f9f295, #e0aa3e);
    color: transparent; /* Hace que el texto sea transparente */
    -webkit-background-clip: text; /* Para navegadores basados en WebKit (como Chrome y Safari) */
    background-clip: text; /* Para navegadores que no utilizan el prefijo -webkit- */
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
/*Estilos carrusel*/
.contenedorCarrusel{
    width: 250px;
    height: 350px;
    overflow: hidden;
   
}
.itemCarrusel{
    width: 250px;
    height: 350px;
    position: relative;
}
.tarjetaCarrusel{
    width: 100%;
    height: 100%;
}
.flechasCarrusel{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
img{
    width: 100%;
    height: 100%;
}
a{
    color: black;
}
footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
footer h1{
    background-image: linear-gradient(#f9f295, #e0aa3e, #edc967, #b88a44);
    color: transparent; /* Hace que el texto sea transparente */
    -webkit-background-clip: text; /* Para navegadores basados en WebKit (como Chrome y Safari) */
    background-clip: text; /* Para navegadores que no utilizan el prefijo -webkit- */
}
.div-footer{
    width: 100%;
    height: 30px;
    background: linear-gradient(#f9f295, #e0aa3e, #edc967, #b88a44);
}
